# Global
.DS_Store
.env
*.env

# Node
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Logs
logs
*.log

# Editor config
.vscode/
.idea/
*.swp

# Frontend build
frontend/build/

# Backend artifacts
backend/dist/
backend/coverage/

# Docker
*.local
docker-compose.override.yml

# Misc
*.tgz
